%section.c-app-root
  %header.c-header
    %h1.c-header-title Evin Atherton — Hand Lettering

  %section
    .c-welcome-drawing

  %section.c-section-border
    .c-container
      .c-container-item
        .c-container-item-left.u-padding
          %h2 Greetings Cards
          %p
            I make great cards. They are so great. My husband likes my cards, and I like my husband.
          %a(href='#') See all cards
      .c-container-item
        .c-card-container
          .c-small-card
          .c-small-card
          .c-small-card
          .c-small-card
          .c-small-card
          .c-small-card
          .c-small-card
          .c-small-card
          .c-small-card
          .c-small-card
          .c-small-card
          .c-small-card
