%main
  %header.c-header.u-mb-4
    %h1.c-header-title Evin Atherton — Hand Lettering
    %nav
      %a.without-underline(href="#") store
      %a.without-underline(href="#") about
      %a.without-underline(href="#") connect

  %section.u-d-flex
    %div.c-offset-hero-container
      %div.c-offset-hero
        %h2.hero-title
          Custom handmade
          %span.u-underline.heavy-underline cards,
          bags, boot, and
          %span.u-underline.heavy-underline shoes.
        %div.c-hero-meta
          .c-arrow-down
          %p.c-hero-meta-desc
            A few describing what this is all about, and a short
            sentence about your values and your inspiration. Just
            enough to get people interested and browse around.
    %div.u-flex-c
      .c-offset-hero-image.c-welcome-drawing
  %section

