%section.c-app-root
  %header.c-header
    %h1.c-header-title Evin Atherton — Designer

  %main.c-content
    .c-pane.c-pane--image
      .c-card Zeusen
    .c-pane.c-pane--image
      .c-card Connor and Evin in Vermont
    .c-pane.c-pane--image
      .c-card Look after yourself
