!!!5
%html
  %head
    %title Evin Atherton — Hand Lettering
    %link(rel="icon" href="data:;base64,iVBORw0KGgo=")
    = stylesheet_tag 'application'
  %body
    = styled_flash
    = yield
    = javascript_tag 'application'
