/**
 * Mixins
 */
$selectionColor: #b4d5fe

@mixin textShadowToCropUnderline($color)
  text-shadow: .03em 0 $color, -.03em 0 $color, 0 .03em $color, 0 -.03em $color, .06em 0 $color, -.06em 0 $color, .09em 0 $color, -.09em 0 $color, .12em 0 $color, -.12em 0 $color, .15em 0 $color, -.15em 0 $color

@mixin linkUnderlines($backgroundColor, $color)
  +textShadowToCropUnderline($backgroundColor)

  color: $color
  text-decoration: none
  background-image: linear-gradient($backgroundColor, $backgroundColor), linear-gradient($backgroundColor, $backgroundColor), linear-gradient($color, $color)
  background-size: .05em 1px, .05em 1px, 1px 1px
  background-repeat: no-repeat, no-repeat, repeat-x
  background-position: 0% 90%, 100% 90%, 0% 90%

  &.heavy-underline
    background-size: .05em 0.06em, .05em 0.06em, 0.06em 0.06em
    background-position: 0% 92%, 100% 92%, 0% 92%

  &::selection,
  &::-moz-selection
    +textShadowToCropUnderline($selectionColor)
    background: $selectionColor

  &:before,
  &:after,
  *,
  *:before,
  *:after
    text-shadow: none

  &:visited
    color: $color

@mixin hoverStrikethrough
  &:hover::after
    opacity: 1
    transform: scale3d(1,1,1)

  &::after
    content: ''
    width: 100%
    top: 54%
    height: 2px
    background: $secondary-color
    position: absolute
    left: 0
    opacity: 0
    transform: scale3d(0,1,1)
    transition: transform 0.3s, opacity 0.3s
    transform-origin: 100% 50%

/**
 * Vars
 */
$unit: 4px
$gutter: 2rem
$gray: #E4EDF5
$radius: .5rem
$body-color: #32325d
$primary-color: #d24000
$secondary-color: #5EB1BF

/**
 * Global
 */
*
  margin: 0
  padding: 0
  box-sizing: border-box
  position: relative

html,
body
  height: 100%
  transition: all .3s ease-in-out
  font-family: -apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica,helvetica neue,ubuntu,segoe ui,arial,sans-serif
  color: #32325d
  background: #f4f4f4

main
  max-width: 1200px
  padding: 3rem
  background: white
  margin: 2rem auto
  box-shadow: 0px 6px 15px rgba(0, 0, 0, .1)

  > section:not(:last-of-type)
    position: relative
    margin-bottom: 10rem

    &::after
      content: ''
      width: 100px
      height: 15px
      position: absolute
      background: pink
      bottom: calc(-5rem - 10px)
      left: 50%
      margin-left: -50px

p
  font-size: 18px
  line-height: 30px
  margin-bottom: 15px
  color: #525f7f

h2
  font-size: 30px
  margin-bottom: 24px

a:not(.without-underline),
.u-underline
  +linkUnderlines(#fff, $body-color)

a
  +hoverStrikethrough

  color: $body-color

.hero-title
  font-size: 60px

.u-mr-2
  margin-right: 1.4rem

.u-mb-4
  padding-bottom: 4rem

.u-d-flex
  display: flex

.u-flex-c
  flex: 1

.u-p-rel
  position: relative

.c-offset-hero-container
  position: relative
  width: 60%
  padding: 2rem 2rem 2rem 6rem
  z-index: 4
  min-height: calc(500px + 2rem)

.c-offset-hero-image
  position: absolute
  left: -100px
  z-index: 1

.c-offset-hero
  display: flex
  flex-direction: column
  align-content: space-between
  justify-content: space-between
  height: 100%

.c-hero-meta
  margin-right: 100px
  display: flex
  align-items: end

.c-hero-meta-desc
  flex: 1
  margin-left: 2rem
  margin-bottom: 0

.c-arrow-down
  width: 60px
  height: 60px
  position: relative

  // This is to account for line-height in adjascent paragraph
  margin-bottom: 5px

  &::before,
  &::after
    content: ''
    position: absolute

  &::before
    left: 30px
    top: 0
    bottom: 0
    width: 3px
    background: $secondary-color
    border-radius: 5px

  &::after
    width: 30px
    height: 30px
    background: transparent
    bottom: 6px
    left: 15px
    border-bottom: 3px solid $secondary-color
    transform: rotate(45deg)
    border-right: 3px solid $secondary-color
    border-radius: 2px

/**
 * Components
 */
.c-welcome-drawing
  width: 100%
  background: #5EB1BF
  min-height: 500px
  max-width: 600px

.c-section-border
  border-top: 1px solid #efeff1
  border-bottom: 1px solid #efeff1
  background: -webkit-linear-gradient(108deg,#70d0ee,#2a84d2 90%) no-repeat 100% 0
  background-size: 50% 100%

.c-card-container
  position: absolute
  top: 0
  left: 0
  width: 1200px
  min-height: 300px

.c-small-card
  background: white
  margin-top: 35px
  margin-left: 35px
  width: 240px
  height: 165px
  float: left
  box-shadow: 1px 5px 25px #1f90b3

.c-container
  min-height: 640px
  width: 100%
  position: relative
  margin: auto
  display: flex

.u-padding
  padding: 3rem 2rem

.c-container-item
  width: 50%
  flex: 1
  position: relative

  &:last-of-type
    border-left: 1px solid #efeff1

.c-container-item-left
  width: 480px
  float: right

/**
 * Component styles
 */
.c-app-root
  display: flex
  flex-flow: column
  height: 100%

.c-header
  display: flex
  justify-content: space-between
  align-items: center

  > nav a
    padding: 0 0.4rem
    text-decoration: none

.c-header-title
  font-weight: 400
  font-size: 1rem

.c-content
  flex: 1
  align-items: baseline
  display: table-row
  background: #2dd7aa
  padding: $gutter
  overflow-x: scroll

.c-pane
  display: table-cell
  min-width: 500px
  padding-right: $gutter
  height: 100%
